<h4>Sponsored by Simon Fraser University</h4>
<img id="sfu-logo" class="img-responsive" src="/assets/sfu.jpg" alt="SFU">
<br>
<p>MacDevOps:YVR is hosted at SFU Harbour Centre, the heart of Simon Fraser University's Vancouver Campus.</p>
<p>Located on the scenic Vancouver Waterfront in downtown Vancouver, SFU Harbour Centre, 515 West Hastings Street, is minutes from historic Gastown and a staggering array of restaurants, shopping and many other amenities.</p>
<div id="map-canvas">
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: {lat: 49.284756, lng: -123.111872},
        zoom: 16,
        mapTypeId: 'roadmap'
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxy4AhMdTXqHhCFxhb4VqlPNVY1Azf0A0=initMap"
  async defer></script>
</div>
